#page-teacher-list{
    width: 100vw;
    height: 100vh;
}


#search-teachers   {
    margin-top: 3.2rem;

}

#search-teachers label{
    color: var(--color-text-in-primary);
} 




@media(min-width: 700px) {
    #page-teacher-list{
        max-width: 100%;
        
    }

    #search-teachers {
        display: flex;
        width:90%;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    #time {
        position: relative;
        bottom: 0.6rem;
        margin-left: 2rem;
    }

    #select{
        margin-right: rem;
    }

    #week_day{
        margin-left: 1rem;
    }
  
    #page-teacher-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }

   
    
    
}
